{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Select API</h1>

<table>
    <tr>
        <td>
            <a href="/ytreports">Select YouTube Reporting API</a>
        </td>
        <td>
            Pull data from the Youtube Reporting API. Go through Auth Flow if credentials are needed.
        </td>
    </tr>
    <tr>
        <td>
            <a href="/ytdata">Select YouTube Data API</a>
        </td>
        <td>
            Pull data from the Youtube Data API. Go through Auth Flow if credentials are needed. 
        </td>
    </tr>
</table>

{% endblock %}