{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Jobs</h1>

<table>
    <tr>
        <td>
            JOB ID
        </td>
        <td>
            JOB NAME
        </td>
        <td>
            REPORTS
        </td>
    </tr>
    {% for job in jobs %}
    <tr>
        <td>
            {{ job.id }}
        </td>
        <td>
            {{ job.name }}
        </td>
        <td>
            <a href="/reports/{{ job.id }}">Click here to see reports</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}